@font-face {
  font-family: "KIMM_Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
  position: relative;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  margin-bottom: 100px;
  padding: 30px 0px 30px 0px;
}
h1 {
  font-family: "KIMM_Bold";
  font-size: 30px;
}
h2,
button {
  font-family: "KIMM_Bold";
  font-size: 20px;
  font-weight: 300;
}
p {
  font-family: "KIMM_Bold";
  font-size: 15px;
}
a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 480px) {
  #jb-container {
    width: auto;
  }
  #jb-content {
    float: none;
    width: auto;
  }
  #jb-sidebar {
    float: none;
    width: auto;
  }
}

/* 여기서부터는 버튼 관련 CSS입니다. */
/* 이전, 홈 버튼 */
.btn-left {
  margin: 40px 0px 0px 30px;
}
.btn-right {
  margin: 40px 30px 0px 0px;
}
.btn-left,
.btn-right {
  position: absolute;
  top: 12px;
  width: 30px;
  height: 30px;
  display: inline-block;
}

.btn-left .icon,
.btn-right .icon {
  vertical-align: middle;
  color: inherit;
  width: 30px;
  height: 30px;
  overflow: hidden;
  text-indent: -999px;
}
.btn-left .icon:before,
.btn-right .icon:before {
  display: none;
}
.btn-left .icon.icons-left,
.btn-right .icon.icons-left {
  background: url("../images/icon_ui.png") no-repeat -30px 0;
  background-size: auto 60px;
}
.btn-left .icon.icons-home,
.btn-right .icon.icons-home {
  background: url("../images/icon_ui.png") no-repeat -60px 0;
  background-size: auto 60px;
}
.btn-left:hover .icon,
.btn-right:hover .icon,
.btn-left:active .icon,
.btn-right:active .icon {
  background-position-y: -30px;
}
.btn-left {
  left: 10px;
}
.btn-right {
  right: 10px;
}
/* 버튼 CSS 끝 */

.container {
  width: 100%;
  position: relative;
  height: 90vh;
  padding-left: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; /* 수직 정렬 */
  /* align-items: center; */
  justify-content: center;
}

.container .btn {
  justify-content: space-between;
  width: 15%;
  margin: 10px;
  display: flex;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: #ffffff;
  color: #000000;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 1px 3px 1px 1px gray;
  padding: 14px 24px 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition: transform 200ms;
}
.btn:hover {
  transform: translateY(-4px);
}
.container .btn:after {
  margin-top: 10px;
  margin-left: auto;
  display: inline-block;
  content: "";
  width: 30px;
  height: 30px;
  background: url("../images/icon_ui.png") no-repeat -150px 0;
  background-size: auto 60px;
}
.container .btn .text {
  width: 100%;
  line-height: 1.8;
  margin-top: 10px;
  /* text-align: right; */
}
.container .btn-box {
  width: 100%;
}

.footer {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  bottom: 0;
  position: fixed;
  clear: both;
  padding: 20px 0px 20px 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* ################################## */
}

