@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Giants-Inline';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'Pretendard-Regular';
}

body {
  font-size: 2rem;
  font-weight: bold;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}
.wrapper {
  width: 100vw;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-areas:
    'side main'
    'section section'
    'welcome welcome'
    'guestbook-form guestbook-form'
    'guestbooks guestbooks'
    'footer footer';
}
header,
main,
aside,
section,
.guestbook-form,
.guestbooks,
.guestbooks-container,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  color: white;
  font-family: 'Giants-Inline';
  font-size: 50px;
  
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
main {
  grid-area: main;
  padding-right: 20%;
}

aside {
  grid-area: side;
}

section {
  grid-area: section;
}

.guestbook-form {
  grid-area: guestbook-form;
  margin-bottom: 20px;
}

.input-container {
  position: relative;
  width: 300px;
}

input {
  font-size: 15px;
  color: #222222;
  width: 287px;
  border: none;
  border-bottom: solid #aaaaaa 1px;
  padding-bottom: 10px;
  padding-left: 10px;
  position: relative;
  background: none;
  z-index: 5;
}

input::placeholder {
  color: #aaaaaa;
}
input:focus {
  outline: none;
}

span {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0%; /* right로만 바꿔주면 오 - 왼 */
  /* background-color: #666; */
  width: 0;
  height: 2px;
  border-radius: 2px;
  transition: 0.5s;
}

label {
  position: absolute;
  color: #aaa;
  left: 10px;
  font-size: 20px;
  bottom: 8px;
  transition: all 0.2s;
}

input:focus ~ label,
input:valid ~ label {
  font-size: 16px;
  bottom: 40px;
  color: #0485e8;
  font-weight: bold;
}

.guestbooks {
  grid-area: guestbooks;
}

.guestbooks-box {
  width: 433px;
}

footer {
  grid-area: footer;
  background-color: black;
  color: white;
  font-size: 15px;
  margin-top: 200px;
}

.text:after {
  content: '';
  display: block;
  width: 60px;
  border-bottom: 1px solid #bcbcbc;
  margin: 20px auto;
}

.btn-area {
  width: 100%;
  margin: 10px;
  padding-left: 100px;
}

.info-btn {
  justify-content: space-between;
  width: 200px;
  margin: 10px;
  display: flex;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: #ffffff;
  color: #000000;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 1px 3px 1px 1px gray;
  padding: 14px 24px 16px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition: transform 200ms, background 200ms, color 200ms;
}
.info-btn:hover {
  transform: translateY(-4px);
}
.info-btn:after {
  margin-top: 10px;
  margin-left: auto;
  display: inline-block;
  content: '';
  width: 30px;
  height: 30px;
  background: url('../images/icon_ui.png') no-repeat -158px 0;
  background-size: auto 60px;
}
.info-btn.active {
  background: #a2a4a4;
  color: #fff;
}

.user-name {
  width: 100%;
  line-height: 1.8;
  margin-top: 10px;
  font-family: 'Giants-Inline';
}

.primary-btn {
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #0d6efd;
  border-color: #0d6efd;
  margin: 25px 0px 0px 37px;
}
.primary-btn:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

/* 말풍선 */

.info-item h3 {
  margin-bottom: 30px;
  text-align: center;
}
.info-item h3 strong {
  font-size: 1.25em;
}
.bubble-speech-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.bubble-speech-container img {
  display: block;
}
.info-area .user {
  position: relative;
}
.bubble {
  position: relative;
  background: #a2a4a4;
  border-radius: 0.4em;
  margin: 30px;
  width: 200px;
  height: 100px;
  padding: 1px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.06);
}
.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 12px 9px 0;
  border-color: #a2a4a4 transparent;
  display: block;
  width: 0;
  z-index: 1;
}
.bubble.right:after {
  left: 95%;
}
.bubble.left:after {
  right: 95%;
}
.bubble.bottom:after {
  bottom: 0;
}
.bubble.top:after {
  top: 0;
}
.bubble.right.bottom:after {
  transform: rotate(180deg);
}
.bubble.right.top:after {
  transform: rotate(360deg);
}
.bubble.left.bottom:after {
  transform: rotate(-180deg);
}
.bubble.left.top:after {
  transform: rotate(360deg);
}
.bubble.right.center:after {
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
}
.bubble.left.center:after {
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
}
.balloon-text,
.balloon-list {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}
.balloon-list .label,
.balloon-text .label {
  position: absolute;
  top: 5px;
  left: 5px;
  margin: 0;
  padding: 0;
  font-size: 0.4em;
  text-align: left;
}
.balloon-text .desc {
  text-align: center;
  font-size: 0.7em;
}
.blog .balloon-text .desc {
  font-size: 0.4em;
}
.blog .balloon-text .desc a {
  color: white;
}
.balloon-list .list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
}
.balloon-list .list-item {
  font-size: 0.4em;
}
/* 말풍선 끝 */
h1 {
  color: #ffffff;
  border-bottom: 4px solid #ffffff;
  padding-bottom: 5px;
  position: relative;
  font-size: 30px;
  font-family: 'Giants-Inline';
}

h1:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  bottom: -30px;
  border: 15px solid;
  border-color: #ffffff transparent transparent #ffffff;
}
/* 
h1:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 34px;
  bottom: -20px;
  border: 15px solid;
  border-color: #fff transparent transparent #fff;
} */

/* main-content layout */
.main-content {
  width: 80%;
}
.info-area {
  width: 100%;
  height: 100%;
}
.info-area .info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-area .group.info-item img {
  width: 600px;
  height: 400px;
}
.info-area .user.info-item img {
  width: 200px;
  height: 300px;
}

/* === 모달 css === */
/* #modalOpenButton,
#modalCloseButton {
  cursor: pointer;
}

#modalContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 6;
}

#modalContent {
  position: absolute;
  background-color: #ffffff;
  width: 175px;
  height: 110px;
  padding: 40px 15px 15px 15px;
}

#modalContent p {
  font-size: 18px;
}

#modalContainer.hidden {
  display: none;
}

#send-btn {
  float: right;
  margin-top: 30px;
 } */
.nickname {
  position: static;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: transparent;
  font-size: 0.5em;
}
.warning-btn {
  float: right;
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fa572a;
  border-color: #fa572a;
  margin: 10px 0px 0px 10px;
}
.warning-btn:hover {
  color: #fff;
  background-color: #fa572a;
  border-color: #fa572a;
}

.success-btn {
  float: right;
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #00ca36;
  border-color: #37d7ad;
  margin: 10px 0px 0px 30px;
}
.success-btn:hover {
  color: #fff;
  background-color: #37d7ad;
  border-color: #37d7ad;
}

/* === group info-area CSS === */
.info-area .group.info-item {
  background-color: green;
  position: relative;
  min-height: 500px;
  min-width: 800px;
  box-sizing: border-box;

  background: url('../images/everybody.png') no-repeat top right 10px/436px 280px;
}
.info-area .group-left {
  position: absolute;
  top: 30%;
  left: 10px;
  transform: translateY(-50%);
}

.info-area .group-left p {
  font-size: 0.8em;
  margin: 0;
  line-height: 2em;
  letter-spacing: -0.05px;
  text-align: left;
}
.info-area .group-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.info-area .group-right * {
  text-align: right;
  font-size: 0.8em;
}
.info-area .group-right ul {
  list-style: none;
  padding: 0;
}
.info-area .group-right h3 {
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: right;
}

/* === 방명록 CSS === */
.guestbooks-container {
  flex-direction: column;
}

/* === 스크롤 업 버튼 CSS */
.blind {
  text-indent: -9999em;
}
.scroll-up-btn {
  position: absolute;
}
.scroll-up-btn button {
  width: 60px;
  height: 60px;
  background: url('../images/icon_ui.png') no-repeat;
  background-size: auto 90px;
  background-position: -38px 7px;
  transform: rotate(90deg);
  outline: none;
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;

  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.06);
  animation: 1.5s updown infinite;

  position: fixed;
  bottom: 150px;
  right: 30px;
  cursor: pointer;
}
@keyframes updown {
  from {
    background-position: -35px 7px;
  }
  50% {
    background-position: -38px 7px;
  }
  to {
    background-position: -35px 7px;
  }
}

/* === welcome CSS */
.welcome {
  grid-area: welcome;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.welcome h4 {
  padding: 0;
  margin: 0;
}