@font-face {
  font-family: "KIMM_Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KIMM_Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
* {
  font-family: "KIMM_Bold";
}

body {
  font-size: 2rem;
  font-weight: bold;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 100px auto 50px;
  grid-template-areas:
    'header header'
    'side main'
    'footer footer';
}

header,
main,
aside,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  grid-area: header;
  background-color: black;
  color: white;
}

main {
  grid-area: main;
}

aside {
  grid-area: side;
  background-color: #ff9d00;
}

footer {
  grid-area: footer;
  background-color: black;
  color: white;
  font-size: 15px;
}
