/* @keyframes ball {
    0% {
        top: 0px;
    }

    95% {
        width: 100px;
    }

    to {
        top: 300px;
        width: 115px;
        height: 90px
    }
}

div {
    position: relative;
    left: 100px;
    top: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #000;
    animation: ball 1s ease-in Infinite Alternate;
} */

@keyframes mymove {
    from {
        right: -700px;
    }

    to {
        right: 10px;
        background-color: orange;
    }
}

div {
    width: 100px;
    height: 100px;
    margin: 1em;
    font-size: 20px;
    position: relative;
    animation: mymove 1.5s;
    background: red;
}

#square1 {
    animation-fill-mode: forwards;
}

#square2 {
    animation-fill-mode: forwards;
}

#square3 {
    animation-fill-mode: forwards;
}

#square4 {
    animation-fill-mode: forwards;
}